<section>
  <div class="container pt-5">
    <h4><%= current_user.first_name %>'s Dashboard</h4>
  </div>
</section>

<section>
  <div class="container pt-3">
    <ul class="nav nav-pills border-bottom pb-3">
      <li class="nav-item">
        <%= link_to 'Bookings', account_bookings_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Reservations', account_offers_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Galaxies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reviews</a>
      </li>
    </ul>
  </div>
</section>


<section>
  <div class="container pt-3">
    <div class="row">
      <% @my_galaxies.each do |galaxy| %>
        <% galaxy.bookings.each do |booking| %>

          <div class="div col-lg-4 col-md-6 col-12">
            <div class="div card rounded-top bg-transparent border-0 shadow-sm rounded-lg">
              <div class="card-header rounded-top p-0 bg-white" style="position: relative;">
                <div class="m-3 text-white" style="position: absolute; top: 0;">
                  <div class="text-muted">
                    <%= cl_image_tag booking.customer.photo.key, class: "avatar avatar-md" %>
                    <a href="#">
                      <span class="ml-1 font-weight-normal text-white"><%= booking.customer.first_name %> <%= booking.customer.last_name %></span>
                    </a>
                  </div>
                  <h5 class="font-weight-bold card-title mt-3"><%= link_to galaxy.name, galaxy_path(galaxy), class: "text-white" %></h5>
                  <span class="badge badge-warning small rounded-pill px-3 pb-1 margin-0"><small><%= booking.status.upcase %></small></span>
                  <h6 class="mt-3 font-weight-bold"><i class="far fa-calendar-alt mr-2"></i> Jan 22 - Feb 22, 2020</h6>
                  <!--
                  <p><%#= booking.start_date %></p>
                  <p><%#= booking.end_date %></p>
                -->
                </div>
                <%= cl_image_tag booking.galaxy.photo.key, class: "card-img-top rounded-lg", alt: "..." %>
              </div>
              <div class="div card-footer px-3 border-0 bg-light-gray">
                <span class="float-right font-weight-bold mt-1">Total:  $<%= booking.total_price %></span>
                <%= link_to "Manage Booking", edit_booking_path(booking), class: "px-3 rounded-pill btn btn-dark btn-sm" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
