<h1>Leave a review for <%= @booking.galaxy.name %></h1>
<%= simple_form_for [ @booking, @review ] do |f| %>
  <%#= f.input :name %>
  <%= f.input :description %>
  <%= f.input :rating, collection: 1..5 %>
  <%= f.hint '1 - 5. No special characters, please! ' %>
  <%= f.submit "Leave review" %>
<% end %>