<section class="pt-5 mt-5">
  <div class="container pt-5">
    <div class="row justify-content-center align-item-center">
      <div class="col-6 text-center">
        <%= cl_image_tag current_user.photo.key, class: "img-fluid rounded-circle" %>
        <h2 class="pt-3 font-weight-bold"><%= current_user.first_name %> <%= current_user.last_name %></h2>
        <hr/>
        <p class="text-muted">
          Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Harum sed minus r
          eprehenderit quas tempore error ducimus voluptatem dicta placeat possimus laboriosam
          est blanditiis ad, modi eos quod officia debitis! Sit?
        </p>
        <%= link_to 'Reservations', account_offers_path, class: "btn btn-primary rounded-pill mr-1" %>
        <%= link_to 'Bookings', account_bookings_path, class: "btn btn-primary rounded-pill" %>
      </div>
    </div>
  </div>
</section>
