<div class="navbar navbar-expand-sm navbar-light navbar-lewagon rounded">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://cdn1.iconfinder.com/data/icons/space-travel-flat/340/space_astronomy_universe_galaxy_alien_ufo_spaceship_invasion_spacecraft-256.png", class: "float-left" %>
    <span class="logo">AirGalaxy</span>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active mx-2 mt-1">
          <%= link_to "List Your Galaxy", new_user_galaxy_path(current_user), class: "px-3 btn btn-sm rounded-pill btn-dark" %>
        </li>
         <li class="nav-item active mx-2 mr-4 mt-1">
          <%= image_tag("https://cdn4.iconfinder.com/data/icons/basic-ui-2-line/32/bell-dot-notification-notify-ring-256.png", style:"height: 30px; opacity: .5;") %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "User Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "New Galaxy", new_user_galaxy_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
