<div class="div container pt-5">
  <div class="row">
    <% @galaxies.each do |galaxy| %>
      <div class="div col-4">
        <div class="div card mb-4 shadow-sm rounded bg-transparent">
          <%#= image_tag("https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1427&q=80", class: "roundedcard-img-top", alt: "...") %>
          <div class="div card-body text-white">
            <%= image_tag("https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1427&q=80", class: "img-fluid rounded", alt: "...") %>

            <div class="m-2">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar avatar-sm"  %>
              <span class="small ml-2 font-weight-bold"><%= galaxy.owner.first_name %> <%= galaxy.owner.last_name%></span>
              <span class="float-right"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
            </div>

            <h5 class="font-weight-bold card-title mt-3"><%= link_to galaxy.name, galaxy_path(galaxy) %></h5>
            <p class="small text-muted card-text"><%= galaxy.description.truncate(100) %></p>

          </div>
          <div class="div card-footer">
            <span class="float-right">$<%= galaxy.rate %>/night</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
