<section class="pt-5">
  <div class="container">
    <div class="row justify-content-center pt-5">
      <div class="col-6">
        <h4 class="text-center font-weight-bold">List Your Galaxy</h4>
        <%= simple_form_for [ @owner, @galaxy ] do |f| %>
          <%= f.input :name, class: "form-control" %>
          <%= f.input :description, class: "form-control" %>
          <%= f.input :rate, class: "form-control" %>
          <%= f.input :photo, as: :file, class: "btn btn-dark" %>
          <%= f.submit "Create Galaxy", class: "btn btn-dark rounded-pill btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
