<div class="container">

  <div class="container">
    <h1><%= @galaxy.name %></h1>
  </div>
  
  <div class="container my-3">
    <%= image_tag "andromeda.jpg", alt: "Le Wagon", width: 200, class: "rounded"%>
  </div>

  <div class="container">
    <p><strong>Name: </strong><%= @galaxy.name %></p>
    <p><strong>Description: </strong><%= @galaxy.description %></p>
    <p><strong>Owner: </strong><%= @galaxy.owner.first_name %> <%= @galaxy.owner.last_name %></p>
    <p><strong>Rate: </strong>$<%= @galaxy.rate %>/night</p>
  </div>

</div>
